/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

/*===== VARIABLES CSS =====*/
:root {
	/*===== Colors =====*/
	--color-white: #ffffff;
	--color-black: #111827;
	--color-primary: #ff6301;
	--color-text-primary: #111827;
	--color-text-secondary: #6b7280;
	--color-placeholder: #9ca3af;
	--color-border: #9ca3af;
	--color-border-2: #e6e8f0;
	--color-red: #ee1d1d;

	/*===== Font and typography =====*/
	--body-font: "Poppins", sans-serif;

	/*===== Font weight =====*/
	--font-light: 300;
	--font-normal: 400;
	--font-medium: 500;
	--font-semi-bold: 600;
	--font-bold: 700;
	--font-black: 800;
}

/*===== BASE =====*/
*,
::before,
::after {
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--body-font);
	font-size: 14px;
	font-weight: var(--font-normal);
	background-color: var(--color-white);
	color: var(--color-text-secondary);
	line-height: 1.5;
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
	margin: 0 0 15px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: var(--font-semi-bold);
	color: var(--color-text-primary);
	line-height: 1.2;
}

h1 {
	font-size: 28px;
}
h2 {
	font-size: 24px;
}
h3 {
	font-size: 22px;
}
h4 {
	font-size: 20px;
}
h5 {
	font-size: 16px;
}
h6 {
	font-size: 14px;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

a {
	text-decoration: none;
	color: var(--color-primary);
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
* {
	outline: none;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

/*===== LAYOUT =====*/
.container {
	max-width: 540px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 20px;
}
.row {
	margin-left: -20px;
	margin-right: -20px;
}
.col {
	padding-left: 20px;
	padding-right: 20px;
}
.text-center {
	text-align: center;
}
.text-start {
	text-align: left;
}
.text-end {
	text-align: right;
}

/* default CSS */
label {
	display: block;
	font-size: 12px;
	line-height: 1;
	color: var(--color-text-primary);
	font-weight: var(--font-semi-bold);
	margin-bottom: 4px;
}
label a {
	color: #b24501;
}

select,
.nice-select,
input:not([type="submit"]):not([type="radio"]):not([type="checkbox"]),
textarea {
	border: 1px solid var(--color-border);
	width: 100%;
	height: auto;
	outline: none;
	background-color: var(--color-white);
	border-radius: 8px;
	font-size: 16px;
	line-height: 1;
	font-family: var(--body-font);
	font-weight: var(--font-medium);
	color: var(--color-text-primary);
	padding: 15px 12px;
}
input[type="checkbox"] {
	display: inline-block;
	margin: 0;
}
input[type="checkbox"] + label {
	margin-bottom: 0;
	display: inline-block;
	font-size: 14px;
}

::-webkit-input-placeholder {
	color: var(--color-placeholder);
	opacity: 1;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}
:-moz-placeholder {
	color: var(--color-placeholder);
	opacity: 1;
	-moz-transition: opacity 0.5s;
	transition: opacity 0.5s;
}
::-moz-placeholder {
	color: var(--color-placeholder);
	opacity: 1;
	-moz-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

:-ms-input-placeholder {
	color: var(--color-placeholder);
	opacity: 1;
	-ms-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

::placeholder {
	color: var(--color-placeholder);
	opacity: 1;
	transition: opacity 0.5s;
}
*:focus::-webkit-input-placeholder {
	opacity: 0;
}
*:focus:-moz-placeholder {
	opacity: 0;
}
*:focus::-moz-placeholder {
	opacity: 0;
}
*:focus:-ms-input-placeholder {
	opacity: 0;
}
*:focus::placeholder {
	opacity: 0;
}

label.error {
	color: var(--color-red);
	font-weight: var(--font-medium);
	margin-bottom: 0;
	position: relative;
	z-index: 1;
	padding-left: 18px;
	margin-top: 15px;
}
label.error::before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 12px;
	height: 12px;
	background-image: url(../images/icons/close.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.primary-btn {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	position: relative;
	transition: 0.5s ease;
	z-index: 1;
	font-size: 15px;
	color: var(--color-white);
	font-family: var(--body-font);
	font-weight: var(--font-semi-bold);
	padding: 13px 13px;
	border: none;
	border-radius: 8px;
	background-color: var(--color-primary);
}
.inline-btn {
	position: relative;
	display: inline-block;
	font-size: 12px;
	font-family: var(--body-font);
	font-weight: var(--font-semi-bold);
	line-height: 1;
	text-decoration: underline;
	color: var(--color-primary);
}

.section_title {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 15px;
	padding-bottom: 8px;
}
.section_title .title {
	text-transform: uppercase;
	margin-bottom: 0;
}
.section_title .inline-btn {
	font-size: 14px;
	text-decoration: none;
	font-weight: var(--font-medium);
}

/**----------------------------------------
START: Header
----------------------------------------*/

@-webkit-keyframes bounceInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
	}
	60% {
		opacity: 1;
		-webkit-transform: translateY(0px);
	}
	80% {
		-webkit-transform: translateY(-10px);
	}
	100% {
		-webkit-transform: translateY(0);
	}
}

@keyframes bounceInDown {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-2000px);
		transform: translateY(-2000px);
	}
	60% {
		opacity: 1;
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}
@-webkit-keyframes bounceInUp {
	0%,
	10%,
	35%,
	50%,
	to {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}
	10% {
		-webkit-transform: translate3d(0, 0px, 0);
		transform: translate3d(0, 0px, 0);
	}
	35% {
		-webkit-transform: translate3d(0, -10px, 0);
		transform: translate3d(0, -10px, 0);
	}
	50% {
		-webkit-transform: translate3d(0, 2px, 0);
		transform: translate3d(0, 2px, 0);
	}
	80% {
		-webkit-transform: translate3d(0, -90px, 0);
		transform: translate3d(0, -90px, 0);
	}
	to {
		-webkit-transform: translate3d(0, -3000px, 0);
		transform: translate3d(0, -3000px, 0);
	}
}
@keyframes bounceInUp {
	0%,
	10%,
	35%,
	50%,
	to {
		-webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
		animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}
	10% {
		-webkit-transform: translate3d(0, 0px, 0);
		transform: translate3d(0, 0px, 0);
	}
	35% {
		-webkit-transform: translate3d(0, -10px, 0);
		transform: translate3d(0, -10px, 0);
	}
	50% {
		-webkit-transform: translate3d(0, 2px, 0);
		transform: translate3d(0, 2px, 0);
	}
	80% {
		-webkit-transform: translate3d(0, -90px, 0);
		transform: translate3d(0, -90px, 0);
	}
	to {
		-webkit-transform: translate3d(0, -3000px, 0);
		transform: translate3d(0, -3000px, 0);
	}
}
header.header-2 {
	width: 100%;
	position: fixed;
	top: -88px;
	left: 0;
	z-index: 99;
	opacity: 0;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	background-color: var(--color-primary);
}
header.header-2.sticky {
	top: 0;
	opacity: 1;
	-webkit-animation: bounceInDown 1s;
	animation: bounceInDown 1s;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
header.header-2.sticky-out {
	top: 0;
	opacity: 1;
	-webkit-animation: bounceInUp 1s;
	animation: bounceInUp 1s;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}
.header-2.sticky-out .page_header,
.header-2.sticky .page_header {
	margin-top: 20px;
}
.header-2.sticky-out .reward_box,
.header-2.sticky .reward_box {
	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.13);
	height: 95px;
}
/* !END: Header */

/**----------------------------------------
START: Page Header
----------------------------------------*/
.page {
	min-height: 100vh;
	padding-top: 65px;
	padding-bottom: 78px;
	position: relative;
	z-index: 1;
	background-color: var(--color-primary);
}
.page .white-bg {
	background-color: var(--color-white);
	padding-bottom: 10px;
}
.page .page_top_shape .left,
.page .page_top_shape .right,
.page .page_bottom_shape .left,
.page .page_bottom_shape .right {
	position: absolute;
	z-index: -1;
	opacity: 0.1;
}
.page .page_top_shape .right {
	max-width: 107px;
	width: 100%;
	top: 45px;
	right: 0;
}
.page .page_top_shape .left {
	max-width: 112px;
	width: 100%;
	top: 165px;
	left: 0;
}
.page .page_bottom_shape .right {
	max-width: 145px;
	width: 100%;
	top: 625px;
	right: 0;
}
.page .page_bottom_shape .left {
	max-width: 123px;
	width: 100%;
	top: 659px;
	left: 0;
}
.app_logo .logo {
	display: inline-block;
	max-width: 107px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.header_content {
	font-size: 18px;
	font-weight: var(--font-medium);
	color: var(--color-white);
}
.header_content p:last-child {
	margin-bottom: 0;
}
.login-page .page_header,
.register-page .page_header {
	margin-bottom: 33px;
}

.page.wallet .page_header,
.page.home-page .page_header {
	margin-bottom: 50px;
}
.page_navigation {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	margin-bottom: 16px;
}
.page_navigation .user_img {
	width: 35px;
	height: 35px;
	border-radius: 50%;
	border: 2px solid rgba(0, 0, 0, 0.15);
}
.page_navigation .user_img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 50%;
}
.page_navigation .menu_bar {
	width: 35px;
}
.page_navigation .menu_bar button {
	display: inline-flex;
	width: 100%;
	align-items: center;
	justify-content: end;
	border: none;
	background-color: transparent;
	padding: 0;
}
.page_navigation .app_logo {
	max-width: 65px;
	width: 100%;
}
.navigation_content .title {
	margin-bottom: 0;
	color: var(--color-white);
}
.page-overly {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: var(--color-black);
	z-index: 100;
	transition: 0.3s;
	opacity: 0;
	visibility: hidden;
}
.page-overly.open {
	visibility: visible;
	opacity: 0.5;
}
.hamburger_menu {
	position: fixed;
	width: calc(100% - 60px);
	height: 100%;
	top: 0;
	right: 0;
	z-index: 999;
	overflow-y: scroll;
	background-color: var(--color-white);
	padding: 40px 30px;
	transform: translateX(100%);
	transition: 0.3s;
}
.hamburger_menu.open {
	transform: translateX(0);
}
.hamburger_menu .top_area {
	display: flex;
	align-items: center;
	gap: 20px;
	justify-content: space-between;
	margin-bottom: 27px;
}
.hamburger_menu .top_area .mobile_menu_heading {
	display: block;
	font-size: 16px;
	line-height: 30px;
	font-weight: var(--font-bold);
	color: var(--color-primary);
}
.hamburger_menu .top_area .close_icon {
	max-width: 28px;
	width: 100%;
}
.hamburger_menu .top_area .close_icon button {
	border: none;
	background-color: transparent;
	padding: 0;
}
.hamburger_menu .top_area {
	display: flex;
	align-items: center;
	gap: 20px;
	justify-content: space-between;
	margin-bottom: 27px;
}
.hamburger_menu .top_area .mobile_menu_heading {
	display: block;
	font-size: 16px;
	line-height: 30px;
	font-weight: var(--font-bold);
	color: var(--color-primary);
}
.hamburger_menu .top_area .close_icon {
	max-width: 28px;
	width: 100%;
}
.hamburger_menu .main_menu li a {
	display: block;
	font-size: 18px;
	line-height: 34.2px;
	font-weight: var(--font-medium);
	color: var(--color-text-primary);
}
.hamburger_menu .main_menu li:not(:last-child) {
	margin-bottom: 16px;
}
.hamburger_menu .main_menu li > ul {
	padding-left: 10px;
	padding-top: 6px;
	display: none;
}
.hamburger_menu .main_menu li > ul > li > a {
	line-height: 27px;
	color: #777777;
}
/* !END: Page Header */

/**----------------------------------------
START: Toolbar 
----------------------------------------*/
.toolbar {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 99;
	overflow: hidden;

	background-color: var(--color-white);
	box-shadow: 0px -5px 10px 0px rgba(0, 0, 0, 0.05);
	padding: 16px 18px;
}
.toolbar .toolbar_inner {
	display: flex;
	justify-content: center;
	gap: 20px;
}
.toolbar .toolbar_inner .toolbar_item {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}
.toolbar .toolbar_inner .toolbar_item .icon {
	max-width: 24px;
	margin-bottom: 5px;
}
.toolbar .toolbar_inner .toolbar_item.active .icon .stock,
.toolbar .toolbar_inner .toolbar_item .icon .fill {
	display: none;
}
.toolbar .toolbar_inner .toolbar_item .icon .stock,
.toolbar .toolbar_inner .toolbar_item.active .fill {
	display: block;
}
.toolbar .toolbar_inner .toolbar_item .title {
	display: block;
	font-size: 13px;
	font-family: var(--body-font);
	font-weight: var(--font-medium);
	color: #9c9c9c;
	transition: 0.4s;
}
.toolbar .toolbar_inner .toolbar_item.active .title {
	color: var(--color-primary);
}
/* !END: Toolbar */

/**----------------------------------------
START: Login Register Form
----------------------------------------*/
.page.login-page {
	padding-bottom: 40px;
	padding-top: 80px;
}
.login_register_form {
	background-color: var(--color-white);
	padding: 32px 25px;
	border-radius: 8px;
}
.login_register_form .form_title {
	margin-bottom: 16px;
}
.login_register_form .form_desc {
	margin-bottom: 24px;
}
.login_register_form .form_desc p:last-child {
	margin-bottom: 0;
}
.form_group {
	margin-bottom: 15px;
}
.form_group.checkbox {
	display: flex;
	align-items: start;
	gap: 8px;
}
.form_btn {
	margin-top: 20px;
}
.login_register_form .form_btn .primary-btn {
	width: 100%;
}
.login-page .app_domain {
	margin-top: 60px;
}
.app_domain .domain {
	text-transform: uppercase;
	color: var(--color-white);
	margin-bottom: 0;
}
.form_alternative {
	border-top: 1px solid var(--color-border-2);
	margin-top: 20px;
	padding-top: 21px;

	display: flex;
	align-items: center;
	flex-wrap: wrap;
	column-gap: 16px;
}
.form_alternative a {
	font-size: 14px;
	line-height: 1;
	position: relative;
	z-index: 1;
}
.form_alternative a::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -1px;
	width: 100%;
	height: 1px;
	background-color: var(--color-primary);
	opacity: 0.4;
}
.register_form .form_group {
	margin-bottom: 23px;
}
.register_form .form_group.checkbox {
	margin-top: 30px;
}
.register_form .form_group label.error {
	margin-top: 10px;
}
.register_form .form_btn {
	margin-top: 30px;
}
.page.register-page {
	padding-bottom: 50px;
	padding-top: 80px;
}
.register-page .app_domain {
	margin-top: 25px;
}
/* !END: Login Register Form */

/**----------------------------------------
START: Reward Box
----------------------------------------*/
.reward_box_inner {
	background-color: var(--color-white);
	border-radius: 10px;
	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.13);
	padding: 13px 15px;
	position: relative;
	z-index: 2;
	top: -35px;
	margin-bottom: -19px;
}
.wallet .reward_box_inner {
	margin-bottom: -10px;
}
.reward_box_inner .member_id {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 15px;
	justify-content: space-between;
}
.reward_box_inner .member_id .id {
	display: inline-block;
	color: var(--color-black);
	font-weight: var(--font-medium);
	text-transform: uppercase;
	font-size: 12px;
	line-height: 1;
}
.reward_box_inner .total_points {
	display: flex;
	align-items: end;
	flex-wrap: wrap;
	gap: 15px;
	justify-content: space-between;
	margin-top: 18px;
}
.reward_box_inner .total_points .point {
	margin-bottom: 0;
	font-size: 34px;
	line-height: 1;
}
.reward_box_inner .total_points .point span {
	display: block;
	font-size: 11px;
	font-weight: var(--font-medium);
	color: rgba(7, 7, 7, 0.4);
	margin-top: 10px;
}
.reward_box_inner .total_points .primary-btn {
	font-size: 14px;
	gap: 5px;
	padding: 9px 12px;
	border-radius: 5px;
}
/* !END: Reward Box */

/**----------------------------------------
START: Countdown Section
----------------------------------------*/
.countdown_content {
	background-color: var(--color-primary);
	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.13);
	border-radius: 10px;
	padding: 13px 15px;
	position: relative;
	z-index: 1;
}
.countdown_content::after {
	content: "";
	position: absolute;
	right: 10px;
	top: 0;
	max-width: 125px;
	width: 100%;
	height: 100%;
	background-image: url(../images/icons/countdown-heart.svg);
	background-repeat: no-repeat;
	background-size: cover;
}
.countdown_content .subtitle {
	display: block;
	font-size: 10px;
	text-transform: uppercase;
	color: var(--color-white);
	font-weight: var(--font-medium);
}
.countdown_content .title {
	margin-bottom: 0;
	font-weight: var(--font-bold);
	color: var(--color-white);
}
/* !END: Countdown Section */

/**----------------------------------------
START: Challenges Section
----------------------------------------*/
.challenges_section {
	padding-top: 20px;
	padding-bottom: 20px;
	overflow: hidden;
}
.challenges_section .challenges_wrapper .container {
	padding-right: 0;
}
.challenges_items {
	display: flex;
	gap: 10px;
	overflow-y: auto;
}
.challenges_items .challenges_item:last-child {
	margin-right: 20px;
}
.challenges_item {
	flex: 0 0 230px;
	max-width: 230px;
	width: 100%;
	overflow: hidden;
	position: relative;
	z-index: 1;
	padding-bottom: 5px;
}
.challenges_item .challenge_img {
	width: 100%;
	border-radius: 10px;
	position: relative;
	z-index: 1;
	overflow: hidden;
	margin-bottom: 10px;
}
.challenges_item .challenge_img img {
	width: 100%;
	height: 180px;
	object-fit: cover;
	border-radius: 10px;
}
.challenges_item .challenge_img::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background: linear-gradient(
		180deg,
		rgba(0, 0, 0, 0) 37.12%,
		rgba(0, 0, 0, 0) 54.44%,
		rgba(0, 0, 0, 0.52) 76.57%,
		rgba(0, 0, 0, 0.7) 99.48%
	);
}
.challenges_item .challenge_content .title {
	margin: 0;
}
.challenges_item .challenge_content .points {
	display: block;
	font-size: 12px;
	font-weight: var(--font-medium);
	color: var(--color-primary);
	margin-top: 5px;
}
.challenges_item .challenge_img .heart {
	position: absolute;
	max-width: 17px;
	width: 100%;
	height: auto;
	right: 15px;
	top: 15px;
	z-index: 2;
}
.challenges_item .challenge_img .heart img,
.challenges_item .challenge_img .category img {
	height: auto;
	width: auto;
}
.challenges_item .challenge_img .category {
	display: inline-flex;
	align-items: center;
	gap: 4px;
	background-color: #0eb059;
	color: var(--color-white);
	border-radius: 5px;
	padding: 6px;
	font-size: 12px;
	line-height: 1;
	font-weight: var(--font-normal);
	position: absolute;
	right: 10px;
	bottom: 10px;
	z-index: 2;
}
.challenges_item .challenge_img .end_text {
	display: inline-flex;
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.5);
	color: var(--color-white);
	font-size: 10px;
	line-height: 1;
	font-weight: var(--font-normal);
	padding: 7px 4px;
	position: absolute;
	left: 10px;
	bottom: 10px;
	z-index: 2;
}
/* !END: Challenges Section */

/**----------------------------------------
START: Getting Rewards Section
----------------------------------------*/
.getting_rewards_section {
	padding-bottom: 20px;
	overflow: hidden;
}
.getting_rewards_wrapper .container {
	padding-right: 0;
}
.getting_rewards_items {
	display: flex;
	gap: 10px;
	overflow-y: auto;
}
.getting_rewards_items .getting_rewards_item:last-child {
	margin-right: 20px;
}
.getting_rewards_item {
	flex: 0 0 155px;
	max-width: 155px;
	background-color: var(--color-white);
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.13);
	margin-bottom: 5px;
}
.getting_rewards_item .getting_reward_img {
	width: 100%;
}
.getting_rewards_item .getting_reward_img img {
	width: 100%;
	height: 80px;
	object-fit: cover;
}
.getting_rewards_item .getting_reward_content {
	padding: 10px 8px;
}
.getting_rewards_item .getting_reward_content .title {
	font-size: 13px;
	font-weight: var(--font-bold);
	margin: 0;
	line-height: 1;
}
.getting_rewards_item .getting_reward_content .subtitle {
	display: block;
	font-size: 10px;
	line-height: 15px;
	font-weight: var(--font-medium);
	color: var(--color-primary);
}
.getting_rewards_item .getting_reward_content .points {
	font-size: 10px;
	display: block;
	line-height: 15px;
	color: var(--color-text-primary);
	margin-top: 2px;
}
.getting_rewards_item .getting_reward_content .reward_meta {
	font-size: 8px;
	line-height: 1;
	color: rgba(7, 7, 7, 0.5);
	margin-top: 5px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 3px;
}
.getting_rewards_item .getting_reward_content .reward_meta span {
	display: inline-block;
}
/* !END: Getting Rewards Section */

/**----------------------------------------
START: Wallet Page
----------------------------------------*/
.latest_earnings .section_title {
	padding-bottom: 10px;
}
.earnings_statistics {
	border-radius: 10px;
	background: var(--color-white);
	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.13);
	padding: 0 16px;
}
.statistics_list li {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 21px;
	display: flex;
	gap: 8px;
	align-items: center;
}
.statistics_list li:not(:last-child) {
	border-bottom: 1px solid var(--color-border-2);
}
.statistics_list li .statistics_content {
	max-width: 220px;
	width: 100%;
}
.statistics_list li .statistics_content .title {
	font-size: 12px;
	line-height: 1;
	font-weight: var(--font-medium);
	margin-bottom: 4px;
}
.statistics_list li .statistics_content .date {
	display: block;
	font-size: 12px;
	line-height: 18px;
	color: rgba(7, 7, 7, 0.5);
}
.statistics_list li .statistics_points {
	display: inline-block;
	font-size: 14px;
	line-height: 1;
	font-weight: var(--font-semi-bold);
	color: #14b8a6;
	margin-left: auto;
}
.statistics_list li .statistics_points.redeemed {
	color: #d14343;
}
.statistics_list li .statistics_arrow {
	max-width: 24px;
	width: 100%;
	height: 24px;
}
/* !END: Wallet Page */

/**----------------------------------------
START: Page Header
----------------------------------------*/

/* !END: Page Header */
